input[type="checkbox"] {
    display:none ;
    
}

input,textarea,select {
    	background-color: rgb(240, 240, 245) ;
    	border:none ;   
    	display: inline-block ;   
    	height: 30px ;
	margin-right:20px ;
    	margin-bottom:5px ;
	padding:6px 12px ;
	font-size:11px ;
	line-height:1.42857143 ;
	color:#555 ;
	border-radius:4px ;
	text-transform: uppercase;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075) ;
	        box-shadow:inset 0 1px 1px rgba(0,0,0,.075) ;
	-webkit-transition:border-color ease-in-out .15s,
        -webkit-box-shadow ease-in-out .15s ;
        -o-transition:border-color ease-in-out .15s,
                      box-shadow ease-in-out .15s ;
        transition:border-color ease-in-out .15s,
                   box-shadow ease-in-out .15s ;
}

input:focus ,textarea:focus, select:focus{
	border-color:#66afe9;
        outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),
                                 0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),
                         0 0 8px rgba(102,175,233,.6)
}

input::-moz-placeholder ,textarea::-moz-placeholder, select::-moz-placeholder{
	color:#999;
	opacity:1
}

input:-ms-input-placeholder ,textarea:-ms-input-placeholder, select:-ms-input-placeholder{
	color:#999
}

input::-webkit-input-placeholder ,textarea::-webkit-input-placeholder, select::-webkit-input-placeholder{
	color:#999
}

input[disabled], textarea[disabled], input[readonly], textarea[readonly], fieldset[disabled], select[disabled], select[readonly] 
{	
	cursor:not-allowed !important;
	background-color:#eee;
	opacity:1
}

.divZoom { 
	overflow: auto;
	position:fixed;
    	left    :20px;	
    	top     :30px;
	right   :25px;
	bottom  : 5px;
	padding : 5px;
    	border-radius: 3px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
	background-color:#fff;
}

.divTableZoom { 
	position:fixed;
	left    : 25px;	
    	top     : 35px;
	right   : 30px;
	bottom  : 10px;
	padding : 5px;
    	border-radius: 3px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
	background-color:#fff;
}


.tableZoom {
    	border-spacing: 7px;
    	border-collapse:separate;    
}

.tableZoom  tbody > tr{
	
	cursor: pointer;

}

.tableZoom  tbody > tr > td {
	padding: 5px;
        border-radius: 3px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	color: #264461;
	white-space: nowrap;
	font-size:12px;
	font-family: "Times New Roman"
}

.tableZoom  thead > tr > th {	
	padding: 5px;
        border-radius: 3px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
	background-color : #264461;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	font-size:12px;
}




