

body {font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/brimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right;
    margin: 0;
}

.headergui{
    background-image: url(../images/brimage.jpg);
    
}

h2{
    font-size: 35px;
    margin-bottom: 1px;
}
input, textarea{
    border-radius: 7px;
}
#contact{
    text-align: center;
    background-color:rgba(155,155,155,0.3);
    border: 1px solid #ffffff;
    width: 300px;
    height: 100%;
    float: left;
    border-radius: 20px;
    padding-top: 100px;
}

#register{
    background-color:rgba(155,155,155,0.3);
    width: 300px;
    border-radius: 20px;
	margin: 100px auto; 
}
.login2{
	margin-top: 100px;
    
}
#login {border: 3px solid #ffffff;
    background-color:rgba(155,155,155,0.3);
    width: 300px;
    height: 620px;
    border-radius: 20px;
    margin-top: 100px;
	margin:auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    border-radius: 10px;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 12px 0 2px;
    border-radius: 20px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    border-radius: 20px;
    opacity: 0.95;

}

span.psw {
    float: right;
    padding-top: 16px;
}

/* muda quando a tela é menor que 300px*/
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*sidenavbar*/

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*fim nav sidebar*/