#slideshow {
    position:relative;
    height:350px;
	z-index:-1;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}

#slideshow img {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
			
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
		
@media screen and (max-width: 1024px){
	img.bg {
	   left: 50%;
	   margin-left: -512px; 
        }
}		

.transparent-input {
   background-color: rgba(180, 180, 180, 0.7);
   border:none;   
}

.login-center{
    	width: 350px;
	margin: auto;
	margin-top: 8%;
	padding: 5% 5% 5% 5%;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 15px;	
}

.idioma{
	position: absolute; top: 2%; left: 95%; 	
}

.idioma-transparent{
	background-color: rgba(255, 255, 255, 0.7);
    border:none; 
}

.trs-modal{
	background-color: rgba(255, 255, 255, 0.9);
}

.div-table-head {
  border: 1px solid rgb(221, 221, 221);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 800px;      
}

.div-table-head-item{
	border: 1px solid rgb(221, 221, 221);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.div-table-body-item{
	border: 1px solid rgb(221, 221, 221);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.table-head {
  margin:0px;  
}
.div-table-body-int{
  height: 500px;
  width: 800px;
}
.div-table-body-ext{
  height: 500px;
  width: 819px; 
  overflow-y: auto;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  border-top-left-radius: 0px;
}

.tdCenter{
	text-align: center;	
}
.td5{
	width: 5%;
}
.td10{
	width: 10%;
}
.td15{
	width: 15%;
}
.td20{
	width: 20%;
}
.td25{
	width: 25%;
}
.td30{
	width: 30%;
}
.td35{
	width: 35%;
}
.td40{
	width: 40%;
}
.td45{
	width: 45%;
}
.td50{
	width: 50%;
}
.td55{
	width: 55%;
}
.td60{
	width: 60%;
}
.td65{
	width: 65%;
}
.td70{
	width: 70%;
}
.td75{
	width: 75%;
}
.td80{
	width: 80%;
}
.td85{
	width: 85%;
}
.td90{
	width: 90%;
}
.td95{
	width: 95%;
}
.td100{
	width: 100%;
}

.space-filter{
	margin:5px;
}

.spaceBtwFilter{
	margin:2px;
}

.input-filter{
	background-color: rgba(255, 255, 255, 0.7);
}

.space-button{
	margin:10px;
}

.imgLoading{
	margin: 10px 2px 10px 10px;
	width : 20px;
	height: 20px;
}

.load{
	display:none;
}

.border-radius-right{
	border-top-right-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}
.border-radius-left{
	border-top-left-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"].cb-branco + label {
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(https://esales.bosch.com.br/estaticos/eSales/lib/images/chbox-no.png) left top no-repeat;
    background-size: 19px 19px;
    cursor:pointer;
}
input[type="checkbox"].cb-branco:checked + label {
    background:url(https://esales.bosch.com.br/estaticos/eSales/lib/images/chbox-yes.png) left top no-repeat;
    background-size: 19px 19px;
}

input[type="checkbox"].cb-cinza + label {
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(https://esales.bosch.com.br/estaticos/eSales/lib/images/chbox-no-c.png) left top no-repeat;
    background-size: 19px 19px;
    cursor:pointer;
}
input[type="checkbox"].cb-cinza:checked + label {
    background:url(https://esales.bosch.com.br/estaticos/eSales/lib/images/chbox-yes-c.png) left top no-repeat;
    background-size: 19px 19px;
}


.label-situacao{
        white-space: nowrap;
    padding-left:22px;
	padding-top:3px;
	font-size:10px;
	display:inline-block;
}